<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Add Country</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click');countryForm.reset();"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="countryForm"  (ngSubmit)="SaveData(); countryForm.reset();">
      <div class="form-group mb-4 mt-2">
      <input type="text" class="form-control" formControlName="countryName" placeholder="Enter country name" [ngClass]="{'is-invalid':submitted && countryForm.controls['countryName'].errors}"/>
      <div *ngIf="{'is-invalid':submitted && countryForm.controls['countryName'].errors}" class="invalid-feedback">
        Country is required!
    </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary me-2">Save</button>
      <button type="submit" class="btn btn-danger" (click)="modal.close('Cross click')">Cancel</button>

    </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click');countryForm.reset();">Close</button>
  </div>
</ng-template>
<div class="container mt-5">
<button class="btn btn-outline-primary mb-2 me-2" (click)="openBackDropCustomClass()">Add Country</button>
</div>

