<div class="container mt-3">

  <h2 style="text-align: center;"> Welcome to Department!</h2><br>
  <app-department-form></app-department-form>

  <table class="table table-striped table-bordered table-hover mt-5">
    <thead class="bg-primary text-white">
      <tr>
        <th >Id</th>
        <th >Department Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let list of departList | paginate:{itemsPerPage:5 ,currentPage:p}">

        <td>{{list.departmentId}} </td>
        <td>{{list.departmentName}} </td>
        <td><a class="btn btn-primary" (click)="EditFunction(list.departmentId)">Edit</a></td>
      </tr>

    </tbody>

  </table>
  <pagination-controls class="d-flex justify-content-center" (pageChange)="p=$event"></pagination-controls>
</div>
