<div class="card mt-3">
    <div class="card-header">
      <h2>List Inspections</h2>
    </div>
    <div class="card-body">
      
      <table class="table table-hover table-bordered">
        <thead class="bg-dark">
          <tr>
            <th class="text-white">Id</th>
            <th class="text-white">InspectionTypeId</th>
            <th class="text-white">Status</th>
            <th class="text-white">Comment</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of inspectionList">
          <tr>
            <td>{{item.id}}</td>
            <td>{{item.inspectionTypeId}}</td>
            <td>{{item.status}}</td>
            <td>{{item.comments}}</td>
         
          </tr>
        </tbody>
      </table>
    </div>
  </div>
