
<div class="container mt-5">

  <div class="col-md-6">
    <form #contactForm = "ngForm" class="form" (ngSubmit)="formSubmit(contactForm)">
      <div class="form-group mb-3">
        <input type="text" name="name" class="form-control" placeholder="Eneter your name" ngModel >
      </div>
      <div class="form-group mb-3">
        <input type="email" name="email" class="form-control" placeholder="Eneter your email" ngModel >
      </div>
      <div class="form-group mb-3">
        <input type="number" name="number" class="form-control" placeholder="Eneter your number" ngModel>
      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" value="Submit">
      </div>
    </form>
  </div>
</div>
