
<div class="container mt-5 mb-2">
  <h2>Reactive Form with Validations</h2>
  <div class="col-md-6">
    <form  class="form" [formGroup]="contactForm">
      <div class="form-group mb-3">
        <input type="text" formControlName="name" name="name"  class="form-control"  placeholder="Eneter your name"  >

      </div>
      <div class="form-group mb-3">
        <input type="email" formControlName="email" name="email"  class="form-control"  placeholder="Eneter your email"  >

      </div>
      <div class="form-group mb-3">
        <input type="number" formControlName="number" name="number"  class="form-control"  placeholder="Eneter your number" >

      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success" (click)="postData()" [disabled]="contactForm.invalid"  value="Submit">
      </div>
    </form>
  </div>
</div>

