
<div class="container mt-5 mb-2">
  <h2>Template Driven Form with Validations</h2>
  <div class="col-md-6">
    <form  class="form" >
      <div class="form-group mb-3">
        <input type="text" name="name" required class="form-control"  placeholder="Eneter your name"  >

      </div>
      <div class="form-group mb-3">
        <input type="email" name="email" required class="form-control"  placeholder="Eneter your email"  >

      </div>
      <div class="form-group mb-3">
        <input type="number" name="number" required class="form-control"  placeholder="Eneter your number" ngModel>

      </div>
      <div class="form-group">
        <input type="submit" class="btn btn-success"  value="Submit">
      </div>
    </form>
  </div>
</div>

